h3 {
    display: flex;
    font-size: 120px;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    border: none;
}

.container > * {
    margin:20px;
}

#score, #round, #winner {
    font-size: 70px;
}


#paper, #rock, #scissors{
    width: 300px;
}


#score, #winner, #round {
    display: flex;
    justify-content: center;
}